<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styleWelcomePage.css">
    <title>Welcome</title>
</head>
<body>
    <form method="GET" action="/login">
    <div class="hero-image">
        <div class="hero-text">
          <h1 style="font-size:50px">Welcome</h1>
          <button type="submit">touch me</button>
        </div>
    </div> 
    </form>
</body>
</html>